
body {
    font-family: 'Amaranth', sans-serif;
    background-image: ("./img/Header.jpg");
    background-color: rgb(254, 254, 255);
    background-position: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;}

h1 {
    color:  #535253;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;}

h2 {
    color:  #535253;
    text-align: left;}

p {
    color: #393939;
    text-indent: 10px;
}
